{
  "test_mode": true,
  "test_telebot": false,
  "test_dump_json": false,
  "test_dump_ytdlp_cmd": false,
  "name": "YT-Downloader_bot",
  "t_name": "YTD_Telebot",
  "sleep_time": 2,
  "ping_time": 1,
  "fail_ping_count": 3,
  "ether_iface_name": "eth0",
  "save_description": false,
  "storage_auroclear_period_days": 30,
  "last_storage_auroclear_date": "2023-12-22",
  "log_logfile": "./log/yt_downloader.log",
  "log_errfile": "./log/yt_downloader_error.log",
  "log_worker_logfile": "./log/yt_downloader_worker.log",
  "log_worker_errfile": "./log/yt_downloader_worker_error.log",
  "url_cache_file": "./data/cache/downloads.json",
  "jobs_cache_file": "./data/cache/jobs.json",
  "cookies_path": "/data/cookies",
  "cookies_src_file": "/src/yt_cookies.txt",
  "dumps_savepath": "/data/dumps",
  "local_savepath": "/data/storage",
  "remote_savepath": "",
  "max_workers": 4,
  "max_worker_bandwidth": "3M",
  "TOKEN": "Мой супер токен",
  "NAME": "YT-Downloader_bot",
  "CHANID": [11111111111111],
  "CONTROL_CHANID": 11111111111111
}